export RIDESHARE_DB_PASSWORD="160f21355816ef1018487dad"
export DB_URL="postgres://postgres:@localhost:5432/postgres"
export DATABASE_URL="postgres://owner:@localhost:5432/rideshare_development"
export PATH="/usr/lib/postgresql/16/bin:$PATH"
export PGHOST="localhost"
